.pagination {
  --bs-pagination-color: #000;
  --bs-pagination-hover-color: #000;
  --bs-pagination-hover-bg: #ffc107;
}

body {
  background: url("../img/background.png");
  background-size: cover;
}

#hero { 
  width: 100%;
  height: 75vh;  
  background: url("../img/hero.png") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#fondo {
  background: url("../img/fondo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.titulo-footer{
  background-color: rgba(108, 1, 1, 0.549);
}

#logo {
  height: 12em;
  width: 15em;
}

@media (max-width: 768px){
  #whos {
    width: 100%;
  }
}

@media (min-width: 769px){
  #whos {
    width: 75%;
  }
}

.trivia:hover {
  box-shadow: 0 0 10px 5px greenyellow;
}

.text {
  font-size: 3vw;
}

.textP {
  font-size: 2vw;
}

.textOut {
  font-size: 4vw;
  font-family: 'VT323', monospace;
  font-weight: bold;
}

.hem {
    height: 15em;
}
.bg-color {
    background-color: rgb(59, 52, 114);
}
.circle-1 {
    height: 1.5em; 
    width: 1.5em;
}

.circle-2 {
    height: 1em; 
    width: 1em;
}

.rec{
    width: 3em;
    height: 1em; 
}

.text-justify {
    text-align: justify;
}

.definicion {
    background: url("../img/background.png") center center;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex
}

@media (min-width: 768px) {

    .brand {
        height: 17em;
        width: 35em;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%)
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%)
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0)
}

.carousel-control-prev, .carousel-control-next{
    background-color: rgba(255, 208, 0, 0.522);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
} 

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
  
.decolor{
  background-color:#fff;

}
#pokedex{
  background-color: #DC143C;
  
}
.barrahp{
  background-color: #2BC45A;
}
.barraatc{
  background-color: #DC143C;
}
.barradefe{
  background-color: gray;
}
.specialAbar{
  background-color: purple;
}
.specialDbar{
  background-color: yellow;
}
.speedbar{
  background-color: dodgerblue;
}
.pokecontenedor{
  background-color: #23489F;
}
.estadisticas{
  background-color: #131317;
}
.butonst{
  background-color: #25D26C;
}
.progress{
  height: 25px;
}
.chainmar{
  background-color: #DC143C;
}